page-statistics {
    


   
        .ico_z{
            color:white;
            zoom:1.5;
        }
    
        .ti_ce{
            color: white;
            text-align: center;
            font-size: 30px;    
        }
    
        .l_inn{
            font-size: 18px;        
        }
    
        .i_inn{
            width: 80%;
            margin: auto;
            border: 1px solid black;
            border-radius: 5px;
            height: 50px;
            font-size: 16px;        
        }
    
        .b_inn{
            background-color: white;
            color: black;
            width: 100%;
            
            border: 1px solid black;
            border-radius: 25px;
            height: 50px;
            font-size: 18px;        
        }
    
        .cta_o_td {
            width: 100%;
            margin-top: 5%;
        }
        .cta_o_td tr td{
            width: 50%;
        }
    .sta_num{
        float: left;
        border: 1px solid black;
        width: 15%;
        text-align: center;
    }
        
        
        
    
    
    
}
